

body {
  margin: 0;
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica;
}
/* This only works with JavaScript,
if it's not present, don't show loader */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../img/gear_preloader.gif) center no-repeat #fff;
}
#addLayer {
  position: absolute;
  float: right;
  top: 10px;
  right: 100px;
}

#linearchart {
  position: absolute;
  top: 950px;
  left: 10px;
}

#brush {
  position: absolute;
  top: 800px;
  left: 1000px;
}

#circularchart {
  position: absolute;
  top: 0px;
  left: 125px;
}
#jbrowse{
  position: absolute;
  top: 1200px;
  left: 20px;
  width:90%;
  min-height: 500px;
}
path.arc {
  cursor: move;
  fill: #fff;
}

.node {
  font-size: 10px;
}

.node:hover {
  fill: #1f77b4;
}

.link {
  fill: none;
  stroke: #1f77b4;
  stroke-opacity: .4;
  pointer-events: none;
}

.link.tra{
 /* stroke: orange;*/
  stroke-dasharray: 10,3;
}

.link.dup_tra{
 /* stroke: orange;*/
  stroke-dasharray: 40,3,10,3;
  stroke-opacity: .6;
}

.link.source, .link.target {
  stroke-opacity: 1;
  stroke-width: 2px;
}

.node.target {
  fill: #d62728 !important;
}

.link.source {
  stroke: #d62728;
}

.node.source {
  fill: #2ca02c;
}

.link.target {
  stroke: #2ca02c;
}
@media screen and (max-width: 1500px) {
    #legend, #addLayer, #TRAhover {
        display: none !important;
    }
    #brush {
      top: 850px;
      left: 100px;
      }
}
#legend {
  float:right;
  top:30px;
  right:90px;
  left:auto;
  margin-right: 20%;
  margin-top: 2%;
}

#TRAhover {
/*background-color: #99ff99;*/
  position: absolute;
  min-width: 100px;
  min-height: 300px;
  margin-right: 20%;
  margin-top: 10%;
  border-style: solid;
  border-color: green;
  float: right;
  right:5px;
  top: 10px;
  width: 30%;
  font-size: 150%;
}
#genomeSelect {
  float:right;
}
.trred {
  background-color: #ff9999;
}
.trgreen{
  background-color: #99ff99;
}
